* {
  margin: 0px;
  padding: 0px;
  position: relative;
}

/*======================== Marquee Pure CSS ============================ */

/* Marquee Design */
.marquee1 {
  top: 50%;
  transform: translate(0%, -60%);
  background: var(--text-bg-c);
  padding: 1% 0 1% 0;
 
}
.marquee2 {
  top: 50%;
  transform: translate(0%, 39%);
  background: var(--text-bg-d);
  padding: 1% 0 1% 0;

}
.marquee__content > li.text {
  flex: 0 0 auto;
  margin: 2px;
  padding: 0.825rem 1.725rem;
  border-radius: 5rem;
  text-align: center;
  /* border:1px solid #6CCEB090; */
  font-size: 1.25rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
}

/* marquee backdrop blur */
.marquee_performa {
  backdrop-filter: blur(15px);
}

.marquee {
  width: 100%;
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

/* Marquee SETUP CSS */
.marquee {
  --gap: 1rem;
  position: absolute;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  list-style-type: none;
  align-items: center;
}

/* Marquee Animation & Reverse animation */
@keyframes marquee_scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
.marquee__content {
  animation: marquee_scroll 20s linear infinite;
}
.marquee--reverse .marquee__content {
  animation-direction: reverse;
}

/*======================== Spinner CSS ==================================*/

/* Spinner 1 */
.spinner1 {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 5px solid;
  border-color: var(--preloader-c1);
  border-right-color: var(--preloader-c2);
  animation: spinner1 1s infinite linear;
}

@keyframes spinner1 {
  to {
    transform: rotate(1turn);
  }
}

/* Spinner 2 */
.spinner2 {
  width: 48px;
  height: 48px;
  display: grid;
  animation: spinner2 4s infinite;
}

.spinner2::before,
.spinner2::after {
  content: "";
  grid-area: 1/1;
  border: 5px solid;
  border-radius: 50%;
  border-color: var(--preloader-c1) var(--preloader-c1) #0000 #0000;
  mix-blend-mode: darken;
  animation: spinner2 1s infinite linear;
}

.spinner2::after {
  border-color: #0000 #0000 var(--preloader-c2) var(--preloader-c2);
  animation-direction: reverse;
}

@keyframes spinner2 {
  100% {
    transform: rotate(1turn);
  }
}

.spinner3 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 6.7px;
  background: conic-gradient(
        from 135deg at top,
        var(--preloader-c1) 90deg,
        #0000 0
      )
      0 calc(50% - 4.5px) / 19px 9.5px,
    radial-gradient(
        farthest-side at bottom left,
        #0000 calc(100% - 6.7px),
        var(--preloader-c1) calc(100% - 5.6px) 99%,
        #0000
      )
      top right/50% 50% content-box content-box,
    radial-gradient(
        farthest-side at top,
        #0000 calc(100% - 6.7px),
        var(--preloader-c1) calc(100% - 5.6px) 99%,
        #0000
      )
      bottom / 100% 50% content-box content-box;
  background-repeat: no-repeat;
  animation: spinner3 1s infinite linear;
}

@keyframes spinner3 {
  100% {
    transform: rotate(1turn);
  }
}

.spinner4 {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--preloader-c1);
  -webkit-mask: radial-gradient(
    circle closest-side at 50% 40%,
    #0000 94%,
    #000
  );
  transform-origin: 50% 40%;
  animation: spinner4 1s infinite linear;
}

@keyframes spinner4 {
  100% {
    transform: rotate(1turn);
  }
}

.spinner5 {
  --s: 9px;
  width: 48px;
  height: 48px;
  background: var(--preloader-c1);
  border-radius: 50%;
  animation: spinner5 2s infinite linear;
  clip-path: polygon(
    0 0,
    calc(50% - var(--s)) 0,
    50% var(--s),
    calc(50% + var(--s)) 0,
    100% 0,
    100% calc(50% - var(--s)),
    calc(100% - var(--s)) 50%,
    100% calc(50% + var(--s)),
    100% 100%,
    calc(50% + var(--s)) 100%,
    50% calc(100% - var(--s)),
    calc(50% - var(--s)) 100%,
    0 100%,
    0 calc(50% + var(--s)),
    var(--s) 50%,
    0 calc(50% - var(--s))
  );
}

@keyframes spinner5 {
  100% {
    transform: rotate(1turn);
  }
}

.spinner6 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--preloader-c1) 94%, #0000)
      top/9px 9px no-repeat,
    conic-gradient(#0000 30%, var(--preloader-c1));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner6 1s infinite linear;
}

@keyframes spinner6 {
  100% {
    transform: rotate(1turn);
  }
}


.spinner7 {
  --d: 18px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  color: var(--preloader-c1);
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}


.spinner8 {
  height: 40px;
  aspect-ratio: 1.5;
  --c: no-repeat linear-gradient(var(--preloader-c1) 0 0);
  --d: no-repeat linear-gradient(var(--preloader-c2) 0 0);
  --e: no-repeat linear-gradient(var(--preloader-c3) 0 0);
  background: var(--c), var(--d), var(--e), var(--c);
  background-size: 33.4% 50%;
  animation: l3 2s infinite linear;
}
@keyframes l3 {
  0% {
    background-position: 0 0, 50% 0, 0 100%, 50% 100%;
  }
  12.5% {
    background-position: 0 0, 100% 0, 0 100%, 50% 100%;
  }
  25% {
    background-position: 50% 0, 100% 0, 0 100%, 50% 100%;
  }
  37.5% {
    background-position: 50% 0, 100% 0, 0 100%, 100% 100%;
  }
  50% {
    background-position: 50% 0, 100% 0, 50% 100%, 100% 100%;
  }
  62.5% {
    background-position: 0 0, 100% 0, 50% 100%, 100% 100%;
  }
  75% {
    background-position: 0 0, 50% 0, 50% 100%, 100% 100%;
  }
  87.5% {
    background-position: 0 0, 50% 0, 0 100%, 100% 100%;
  }
  100% {
    background-position: 0 0, 50% 0, 0 100%, 50% 100%;
  }
}

.spinner9 {
  width: 45px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l11 2s infinite;
}
@keyframes l11 {
  0% {
    background: conic-gradient(var(--preloader-c1) 0, #0000 0);
  }
  12.5% {
    background: conic-gradient(var(--preloader-c1) 45deg, #0000 46deg);
  }
  25% {
    background: conic-gradient(var(--preloader-c1) 90deg, #0000 91deg);
  }
  37.5% {
    background: conic-gradient(var(--preloader-c1) 135deg, #0000 136deg);
  }
  50% {
    background: conic-gradient(var(--preloader-c1) 180deg, #0000 181deg);
  }
  62.5% {
    background: conic-gradient(var(--preloader-c1) 225deg, #0000 226deg);
  }
  75% {
    background: conic-gradient(var(--preloader-c1) 270deg, #0000 271deg);
  }
  87.5% {
    background: conic-gradient(var(--preloader-c1) 315deg, #0000 316deg);
  }
  100% {
    background: conic-gradient(var(--preloader-c1) 360deg, #0000 360deg);
  }
}

.spinner10 {
  width: 50px;
  aspect-ratio: 1;
  --c: no-repeat radial-gradient(farthest-side, var(--preloader-c1) 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 10px 10px;
  animation: l18 1s infinite;
  position: relative;
}
.spinner10::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg, var(--preloader-c1) 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}
@keyframes l18 {
  100% {
    transform: rotate(0.5turn);
  }
}

.spinner11 {
  width: fit-content;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px var(--preloader-c1);
  --g: conic-gradient(var(--preloader-c1) 0 0) no-repeat text;
  background: var(--g) 0, var(--g) 1ch, var(--g) 2ch, var(--g) 3ch, var(--g) 4ch,
    var(--g) 5ch, var(--g) 6ch, var(--g) 7ch, var(--g) 8ch, var(--g) 9ch, var(--g) 10ch;
  background-position-y: 100%;
  animation: l19 1.5s linear infinite alternate;
}
.spinner11:before {
  content: "Please wait";
}

.spinner12 {
  width: fit-content;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px var(--text-c);
  background: linear-gradient(
      90deg,
      #0000 33%,
      var(--text-c) 0 67%,
      #0000 0
    )
    100%/300% 100% no-repeat text;
  animation: l12 4s steps(14) infinite;
}
.spinner12:before {
  content: "Loading Now";
}
@keyframes l12 {
  to {
    background-position: 0;
  }
}

@keyframes l19 {
  0% {
    background-size: 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0;
  }
  25% {
    background-size: 1ch 100%, 1ch 50%, 1ch 0, 1ch 0, 1ch 0, 1ch 50%, 1ch 100%;
  }
  50% {
    background-size: 1ch 100%, 1ch 100%, 1ch 50%, 1ch 0, 1ch 50%, 1ch 100%,
      1ch 100%;
  }
  75% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 50%, 1ch 100%, 1ch 100%,
      1ch 100%;
  }
  to {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%,
      1ch 100%;
  }
}

.spinner13 {
  width: 40px;
  aspect-ratio: 1;
  animation: l5-0 1s infinite steps(1);
}
.spinner13::before,
.spinner13::after {
  content: "";
  position: absolute;
  inset: 0 50% 50% 0;
  transform-origin: bottom right;
  animation: l5-1 0.5s infinite linear alternate,
    l5-2 0.5s infinite steps(1) alternate;
}
.spinner13::after {
  --s: -1, -1;
}
@keyframes l5-0 {
  0% {
    transform: scale(1, 1) rotate(0deg);
  }
  50% {
    transform: scale(1, -1) rotate(90deg);
  }
}

@keyframes l5-1 {
  0% {
    transform: scale(var(--s, 1)) perspective(150px) rotateX(0deg);
  }
  100% {
    transform: scale(var(--s, 1)) perspective(150px) rotateX(180deg);
  }
}
@keyframes l5-2 {
  0% {
    background: var(--preloader-c1);
  }
  50% {
    background: var(--preloader-c2);
  }
}

.spinner14 {
  width: 80px;
  height: 40px;
  --g: radial-gradient(
      farthest-side,
      #0000 calc(95% - 3px),
      var(--preloader-c1) calc(100% - 3px) 98%,
      #0000 101%
    )
    no-repeat;
  background: var(--g), var(--g), var(--g);
  background-size: 20px 20px;
  animation: l9 1s infinite alternate;
}
@keyframes l9 {
  0% {
    background-position: 0 50%, 50% 50%, 100% 50%;
  }
  20% {
    background-position: 0 0, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0 100%, 50% 0, 100% 50%;
  }
  60% {
    background-position: 0 50%, 50% 100%, 100% 0;
  }
  80% {
    background-position: 0 50%, 50% 50%, 100% 100%;
  }
  100% {
    background-position: 0 50%, 50% 50%, 100% 50%;
  }
}

.spinner15 {
  width: 50px;
  aspect-ratio: 1;
  position: relative;
}
.spinner15:before,
.spinner15:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 2px inset var(--preloader-c1);
  animation: l4 2.5s infinite;
}
.spinner15:after {
  animation-delay: -1.25s;
}
@keyframes l4 {
  0% {
    inset: 0 30px 30px 0;
  }
  12.5% {
    inset: 0 30px 0 0;
  }
  25% {
    inset: 30px 30px 0 0;
  }
  37.5% {
    inset: 30px 0 0 0;
  }
  50% {
    inset: 30px 0 0 30px;
  }
  62.5% {
    inset: 0 0 0 30px;
  }
  75% {
    inset: 0 0 30px 30px;
  }
  87.5% {
    inset: 0 0 30px 0;
  }
  100% {
    inset: 0 30px 30px 0;
  }
}

.spinner16 {
  width: 60px;
  aspect-ratio: 1;
  --c: var(--preloader-c1) 91%, #0000;
  background: radial-gradient(30% 50% at -3px 55%, var(--c)) top right,
    radial-gradient(30% 50% at -3px 45%, var(--c)) bottom right,
    radial-gradient(30% 50% at calc(100% + 3px) 55%, var(--c)) top left,
    radial-gradient(30% 50% at calc(100% + 3px) 45%, var(--c)) bottom left,
    radial-gradient(50% 30% at 45% calc(100% + 3px), var(--c)) top right,
    radial-gradient(50% 30% at 45% -3px, var(--c)) bottom right,
    radial-gradient(50% 30% at 55% calc(100% + 3px), var(--c)) top left,
    radial-gradient(50% 30% at 55% -3px, var(--c)) bottom left;
  background-size: 48.1% 48.1%;
  background-repeat: no-repeat;
  -webkit-mask: radial-gradient(circle 5px, #0000 90%, #000);
  animation: l8 1.5s infinite linear;
}
@keyframes l8 {
  100% {
    transform: rotate(1turn);
  }
}

.spinner17 {
  width: 55px;
  aspect-ratio: 1;
  background: var(--preloader-c1);
  clip-path: polygon(
    100% 50%,
    64.14% 64.14%,
    50% 100%,
    35.86% 64.14%,
    0% 50%,
    35.86% 35.86%,
    50% 0%,
    64.14% 35.86%
  );
  -webkit-mask: radial-gradient(circle 5px, #0000 90%, #000);
  animation: l1 1.5s infinite linear;
}
@keyframes l1 {
  100% {
    transform: rotate(1turn);
  }
}

.spinner18 {
  width: 28px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--preloader-c1);
  animation: l2 1.5s infinite;
}
@keyframes l2 {
  0%,
  100% {
    transform: translate(-35px);
    box-shadow: 0 0 var(--preloader-c2), 0 0 var(--preloader-c3);
  }
  40% {
    transform: translate(35px);
    box-shadow: -15px 0 var(--preloader-c2), -30px 0 var(--preloader-c3);
  }
  50% {
    transform: translate(35px);
    box-shadow: 0 0 var(--preloader-c2), 0 0 var(--preloader-c3);
  }
  90% {
    transform: translate(-35px);
    box-shadow: 15px 0 var(--preloader-c2), 30px 0 var(--preloader-c3);
  }
}


.spinner19 {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
}
  .spinner19::after,
  .spinner19::before {
    content: '';
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    animation: rotation 2s ease-in-out infinite;
  }
  .spinner19::after {
    border-color: var(--preloader-c3);
    animation-delay: 1s;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 


  .spinner20 {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    border: 2px solid #FFF;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .spinner20::after,
  .spinner20::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid var(--preloader-c2);
    width: 38px;
    height: 38px;
    animation: rotationBack 1.5s linear infinite;
    transform-origin: center center;
  }
  .spinner20::before {
    width: 24px;
    height: 24px;
    border-color: var(--preloader-c1);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  

.spinner21 {
  height: 15px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(farthest-side, var(--preloader-c1) 90%, #0000);
  background: var(--_g) left, var(--_g) right;
  background-size: 25% 100%;
  display: grid;
}
.spinner21:before,
.spinner21:after {
  content: "";
  height: inherit;
  aspect-ratio: 1;
  grid-area: 1/1;
  margin: auto;
  border-radius: 50%;
  transform-origin: -100% 50%;
  background: var(--preloader-c3);
  animation: l49 1s infinite linear;
}
.spinner21:after {
  transform-origin: 200% 50%;
  --s: -1;
  animation-delay: -0.5s;
}

@keyframes l49 {
  58%,
  100% {
    transform: rotate(calc(var(--s, 1) * 1turn));
  }
}

.spinner22 {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.spinner22:before,
.spinner22:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.spinner22:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}
.spinner22:after {
  animation: ball2 1s infinite;
  background-color: var(--preloader-c1);
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 var(--preloader-c1);
  }
  50% {
    box-shadow: 0 0 0 var(--preloader-c1);
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--preloader-c1);
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}

.spinner23 {
  position: relative;
  width: 48px;
  height: 48px;
  background: var(--preloader-c1);
  transform: rotateX(65deg) rotate(45deg);

  /* //transform: perspective(200px) rotateX(65deg) rotate(45deg);  */
  color: #fff;
  animation: layers1 1s linear infinite alternate;
}
.spinner23:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% {
    box-shadow: 0px 0px 0 0px;
  }
  90%,
  100% {
    box-shadow: 20px 20px 0 -4px;
  }
}
@keyframes layerTr {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(-25px, -25px) scale(1);
  }
}

.spinner24 {
  width: 48px;
  height: 48px;
  border: 4px solid;
  background: rgba(255, 255, 255, 0.2);
  border-color: transparent var(--preloader-c1) var(--preloader-c1) transparent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s ease-in-out infinite;
}
.spinner24::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 12px solid;
  border-color: transparent var(--preloader-c2) var(--preloader-c2) transparent;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.spinner25 {
  border: 2px solid;
  border-color: transparent #fff;
  width: 48px;
  height: 48px;
  background: #fff2;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.spinner25::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 24px solid;
  border-color: transparent var(--preloader-c1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*======================== Background Design CSS ========================*/
.cover1 {
  z-index: 1;
}
.cover2 {
  z-index: 2;
}
.cover3 {
  z-index: 3;
}
.cover4 {
  z-index: 4;
}
.cover5 {
  z-index: 5;
}

.color1 {
  --text-c: #00ff55;
  --text-bg-c: #fa4700cc;
  --text-bg-d: #00bbb2bb;
  --preloader-c1: #66ff00;
  --preloader-c2: #ff0faf;
  --preloader-c3: #00ffff;
  --c1: #28e6ff;
  --c2: #ff6ceb;
  --c3: #e76e92;
  --c4: #6885c4;
}

div.design1 {
  --s: 85px; /* control the size*/
  --g1: conic-gradient(from 45deg at 62.5% 12.5%, #0000 75%, var(--c1) 0);
  --g2: conic-gradient(from -45deg at 12.5% 12.5%, #0000 75%, var(--c1) 0);
  --g3: conic-gradient(from 225deg at 87.5% 87.5%, #0000 75%, var(--c2) 0);
  --g4: conic-gradient(from 135deg at 87.5% 37.5%, #0000 75%, var(--c2) 0);
  background: var(--g4), var(--g4) var(--s) var(--s), var(--g3),
    var(--g3) var(--s) var(--s), var(--g2), var(--g2) var(--s) var(--s),
    var(--g1), var(--g1) var(--s) var(--s),
    repeating-linear-gradient(135deg, var(--c2) 0 12.5%, var(--c1) 0 25%);
  background-size: calc(2 * var(--s)) calc(2 * var(--s));
}

.color2 {
  --text-c: #fff;
  --text-bg-c: #695f02a2;
  --text-bg-d: #7ab60ad3;
  --preloader-c1: #00f7ff;
  --preloader-c2: #ff5e00;
  --preloader-c3: #ffee00;
  --c1: #ff9f31;
  --c2: #fffb00;
  --c3: #0fac70;
  --c4: #99c468;
}

div.design2 {
  --s: 222px; /* control the size*/
  --_g: var(--c1) 10%, var(--c2) 10.5% 19%, #0000 19.5% 80.5%,
    var(--c2) 81% 89.5%, var(--c3) 90%;
  --_c: from -90deg at 37.5% 50%, #0000 75%;
  --_l1: linear-gradient(145deg, var(--_g));
  --_l2: linear-gradient(35deg, var(--_g));
  background: var(--_l1), var(--_l1) calc(var(--s) / 2) var(--s), var(--_l2),
    var(--_l2) calc(var(--s) / 2) var(--s),
    conic-gradient(var(--_c), var(--c1) 0) calc(var(--s) / 8) 0,
    conic-gradient(var(--_c), var(--c3) 0) calc(var(--s) / 2) 0,
    linear-gradient(
      90deg,
      var(--c3) 38%,
      var(--c1) 0 50%,
      var(--c3) 0 62%,
      var(--c1) 0
    );
  background-size: var(--s) calc(2 * var(--s) / 3);
}

div.color3 {
  --text-c: #320341;
  --text-bg-c: #e100fff5;
  --text-bg-d: #ffe600;
  --preloader-c1: #7b0c91;
  --preloader-c2: #ff9101;
  --preloader-c3: #00ffc8;
  --c1: #31ffee;
  --c2: #2c7ab9;
  --c3: #0f65ac;
  --c4: #6885c4;
}
.design3 {
  background:
  conic-gradient(from 0deg at calc(500%/6) calc(100%/3),var(--c1) 0 120deg,#0000 0),
  conic-gradient(from -120deg at calc(100%/6) calc(100%/3),var(--c2) 0 120deg,#0000 0),
  conic-gradient(from 120deg at calc(100%/3) calc(500%/6),var(--c3) 0 120deg,#0000 0),
  conic-gradient(from 120deg at calc(200%/3) calc(500%/6),var(--c3) 0 120deg,#0000 0),
  conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c3) 0 120deg,#0000 0),
  conic-gradient(from 60deg at calc(200%/3) 50%,var(--c3)  60deg,var(--c1) 0 120deg,#0000 0),
  conic-gradient(from -60deg at 50% calc(100%/3),var(--c3) 120deg,var(--c2) 0 240deg,var(--c1) 0);
background-size: 322px 186px;

}

.color4 {
  --text-c: #330707;
  --text-bg-c: #00d0df;
  --text-bg-d: #ee08a191;
  --preloader-c1: #672f8d;
  --preloader-c2: #cc559e;
  --preloader-c3: #ff5e00;
  --c1: #7e3a78;
  --c2: #62bcf8;
  --c3: #d107af;
  --c4: #68aac4;
}

div.design4 {
  --s: 110px; /* control the size*/

  background: conic-gradient(
        from 45deg at 75% 75%,
        var(--c1) 25%,
        var(--c2) 0 50%,
        #0000 0
      )
      0 0 / var(--s) var(--s),
    conic-gradient(
        from 225deg at 25% 25%,
        var(--c2) 25%,
        var(--c1) 0 50%,
        #0000 0
      )
      0 0 / var(--s) var(--s),
    repeating-conic-gradient(var(--c2) 0 25%, var(--c1) 0 50%) 0 0 /
      calc(2 * var(--s)) calc(2 * var(--s));
}

.color5 {
  --text-c: #fff;
  --text-bg-c: #ff9900c9;
  --text-bg-d: #006effb7;
  --preloader-c1: #da6ae4;
  --preloader-c2: #1ddafc;
  --preloader-c3: #05b8ff;
  --c1: #8f4bfc;
  --c2: #4c0f5f;
  --c3: #d198d3;
  --c4: rgb(209, 162, 221);
}
div.design5 {
  background-image: radial-gradient(
      circle at center center,
      var(--c2),
      var(--c1)
    ),
    repeating-radial-gradient(
      circle at center center,
      var(--c2),
      var(--c1),
      75px,
      transparent 150px,
      transparent 75px
    );
  background-blend-mode: multiply;
  background-color: #385587;
}

.color6 {
  --text-c: #06470f;
  --text-bg-c: #ffc400;
  --text-bg-d: #00ff4cce;
  --preloader-c1: #d9ff00;
  --preloader-c2: #fc3e1d;
  --preloader-c3: #004d13;
  --c1: #8f4bfc;
  --c2: #10343f;
  --c3: #0fac70;
  --c4: transparent;
}
div.design6 {
  background:
  radial-gradient(50% 50% at 100% 0,var(--c1) 0%  5% ,var(--c2) 6%  15%,var(--c1) 16% 25%,var(--c2) 26% 35%,var(--c1) 36% 45%,
   var(--c2) 46% 55%,var(--c1) 56% 65%,var(--c2) 66% 75%,var(--c1) 76% 85%,var(--c2) 86% 95%,
   #0000 96%),
  radial-gradient(50% 50% at 0 100%,var(--c1) 0%  5% ,var(--c2) 6%  15%,var(--c1) 16% 25%,var(--c2) 26% 35%,var(--c1) 36% 45%,
   var(--c2) 46% 55%,var(--c1) 56% 65%,var(--c2) 66% 75%,var(--c1) 76% 85%,var(--c2) 86% 95%,
   #0000 96%),
  radial-gradient(50% 50%,var(--c1) 0%  5% ,var(--c2) 6%  15%,var(--c1) 16% 25%,var(--c2) 26% 35%,var(--c1) 36% 45%,
   var(--c2) 46% 55%,var(--c1) 56% 65%,var(--c2) 66% 75%,var(--c1) 76% 85%,var(--c2) 86% 95%,
   #0000 96%),
  radial-gradient(50% 50%,var(--c1) 0%  5% ,var(--c2) 6%  15%,var(--c1) 16% 25%,var(--c2) 26% 35%,var(--c1) 36% 45%,
   var(--c2) 46% 55%,var(--c1) 56% 65%,var(--c2) 66% 75%,var(--c1) 76% 85%,var(--c2) 86% 95%,
   #0000 96%) 81px 81px;
background-size: 162px 162px;
background-color: var(--c1);
}

.color7 {
  --text-c: #10ffb7;
  --text-bg-c: #6f00ff;
  --text-bg-d: #ff4800ce;
  --preloader-c1: #ffeaf5;
  --preloader-c2: #fbff00;
  --preloader-c3: #bbff00;
  --c1: #4be1fc;
  --c2: #091c22;
  --c3: #2659a5;
  --c4: transparent;
}
div.design7 {
  background-image:  linear-gradient(30deg, var(--c1) 12%, transparent 12.5%, transparent 87%, var(--c1) 87.5%, var(--c1)), linear-gradient(150deg, var(--c1) 12%, transparent 12.5%, transparent 87%, var(--c1) 87.5%, var(--c1)), linear-gradient(30deg, var(--c1) 12%, transparent 12.5%, transparent 87%, var(--c1) 87.5%, var(--c1)), linear-gradient(150deg, var(--c1) 12%, transparent 12.5%, transparent 87%, var(--c1) 87.5%, var(--c1)), linear-gradient(60deg, var(--c2) 25%, transparent 25.5%, transparent 75%, var(--c2) 75%, var(--c2)), linear-gradient(60deg, var(--c2) 25%, transparent 25.5%, transparent 75%, var(--c2) 75%, var(--c2));
  background-size: 162px 283.5px;
  background-position: 0 0, 0 0, 81px 141.75px, 81px 141.75px, 0 0, 81px 141.75px;
  background-color: var(--c3);
}


.color8 {
  --text-c: #ffd900;
  --text-bg-c: #ff4800;
  --text-bg-d: #bfc214b0;
  --preloader-c1: #0086bb;
  --preloader-c2: #fbff00;
  --preloader-c3: #b3ff00;
  --c1: #e4844a;
  --c2: #0d6759;
  --c3: #66aaa0;
  --c4: #3f746c;
}
div.design8 {
    --s: 16px; /* control the size*/
    --g:radial-gradient(30% 50% at 30% 100%,#0000 66%,var(--c1) 67% 98%,#0000);
    background:
      var(--g),var(--g) calc(5*var(--s)) calc(3*var(--s)),
      repeating-linear-gradient(90deg,var(--c1) 0 10%,var(--c2) 0 50%);
    background-size: calc(10*var(--s)) calc(6*var(--s));
}


.color9 {
  --text-c: #51ff00;
  --text-bg-c: #ff31c1;
  --text-bg-d: #1f0468de;
  --preloader-c1: #8dfc26;
  --preloader-c2: #00d9ff;
  --preloader-c3: #ff7b00;
  --c1: #1f2246;
  --c2: #40e37e;
  --c3: #2659a5;
  --c4: #749edd;
}
div.design9 {
    --s: 261px; /* control the size*/   
    --g:,var(--c1) 25%,#0000 0;
    background:
      conic-gradient(from  45deg at 75% 75%var(--g)),
      conic-gradient(from 135deg at 25% 75%var(--g)),
      conic-gradient(from -45deg at 75% 25%var(--g)),
      conic-gradient(from 225deg at 25% 25%var(--g)),
      repeating-conic-gradient(from -45deg,var(--c1) 0 45deg,var(--c2) 0 50%);
    background-size: var(--s) var(--s);
}

/* monochrome */
.color10 {
  --text-c: #fff;
  --text-bg-c: #131313;
  --text-bg-d: #9b9b9bde;
  --preloader-c1: #c7c7c7;
  --preloader-c2: #bdbdbd;
  --preloader-c3: #6e6e6e;
  --c1: #2e2e2e;
  --c2: #747474;
  --c3: #9b9b9b;
  --c4: rgb(197, 197, 197);
}
div.design10 {
    --s: 80px; /* control the size*/    
    --_g: 
      #0000 calc(-650%/13) calc(50%/13),var(--c1) 0 calc(100%/13),
      #0000 0 calc(150%/13),var(--c1) 0 calc(200%/13),
      #0000 0 calc(250%/13),var(--c1) 0 calc(300%/13);
    --_g0: repeating-linear-gradient( 45deg,var(--_g));
    --_g1: repeating-linear-gradient(-45deg,var(--_g));
    background:
      var(--_g0),var(--_g0) var(--s) var(--s),
      var(--_g1),var(--_g1) var(--s) var(--s) var(--c2);
    background-size: calc(2*var(--s)) calc(2*var(--s));
}

.color11 {
  --text-c: #fff;
  --text-bg-c: #1b00b183;
  --text-bg-d: #dd009391;
  --preloader-c1: #bbff00;
  --preloader-c2: #bdbdbd;
  --preloader-c3: #ff7b00;
  --c1: #be8d32;
  --c2: #920d0d;
  --c3: #2659a5;
  --c4: transparent;
}
div.design11 {
    --s: 158px; /* control the size*/
  
    background:
      conic-gradient(from -45deg,var(--c1) 90deg,#0000 0 180deg,var(--c2) 0 270deg,#0000 0)   
        0 calc(var(--s)/2)/var(--s) var(--s),    
      conic-gradient(from 135deg at 50% 0,var(--c1) 90deg,var(--c2) 0)  
        0 0/calc(2*var(--s)) var(--s);
}

/* black and white */
.color12 {
  --text-c: #fff;
  --text-bg-c: #35353583;
  --text-bg-d: #bbbbbb91;
  --preloader-c1: #ececec;
  --preloader-c2: #bdbdbd;
  --preloader-c3: #ff7b00;
  --c1: #2e2e2e;
  --c2: #747474;
  --c3: #9b9b9b;
  --c4: rgb(197, 197, 197);
}
div.design12 {
  background-image:  linear-gradient(30deg, var(--c1) 12%, transparent 12.5%, transparent 87%, var(--c1) 87.5%, var(--c1)), linear-gradient(150deg, var(--c1) 12%, transparent 12.5%, transparent 87%, var(--c1) 87.5%, var(--c1)), linear-gradient(30deg, var(--c1) 12%, transparent 12.5%, transparent 87%, var(--c1) 87.5%, var(--c1)), linear-gradient(150deg, var(--c1) 12%, transparent 12.5%, transparent 87%, var(--c1) 87.5%, var(--c1)), linear-gradient(60deg, var(--c2) 25%, transparent 25.5%, transparent 75%, var(--c2) 75%, var(--c2)), linear-gradient(60deg, var(--c2) 25%, transparent 25.5%, transparent 75%, var(--c2) 75%, var(--c2));
  background-size: 162px 283.5px;
  background-position: 0 0, 0 0, 81px 141.75px, 81px 141.75px, 0 0, 81px 141.75px;
  background-color: var(--c3);

}

.color13 {
  --text-c: #fff;
  --text-bg-c: #ff2600be;
  --text-bg-d: #0072dd91;
  --preloader-c1: #c1cf00;
  --preloader-c2: #d301fd;
  --preloader-c3: #ff7b00;
  --c1: #20003d;
  --c2: #3a227e;
  --c3: #2659a5;
  --c4: transparent;
}
div.design13 { 
    --s: 147px; /* control the size*/
    
    --_g: radial-gradient(var(--c2) 49%,#0000 50%);
    background:
     var(--_g) calc(var(--s)/-2) calc(var(--s)/2),
     repeating-conic-gradient(from 45deg,var(--c1) 0 25%,#0000 0 50%)
       calc(var(--s)/2) calc(var(--s)/2),
     var(--_g),var(--_g) var(--s) var(--s) var(--c1);
    background-size: calc(2*var(--s)) calc(2*var(--s));
  
}


.color14 {
  --text-c: #fff;
  --text-bg-c: #dcf500be;
  --text-bg-d: #dd970091;
  --preloader-c1: #740055;
  --preloader-c2: #fdcf01;
  --preloader-c3: #ff7b00;
  --c1: #3d0000;
  --c2: #7e2222;
  --c3: #a52626;
  --c4: rgb(212, 68, 68);
}
div.design14 { 
  background:
  repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c4) 0 180deg) 
   162px 93.47399999999999px,
  repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
background-size: 324px 187px;

  
}

.color15 {
  --text-c: #50081e;
  --text-bg-c: 	#9db85d;
  --text-bg-d: #f6dc8f;
  --preloader-c1: #df1c1c;
  --preloader-c2: #fdcf01;
  --preloader-c3: #ff7b00;
  --c1: #87a14b;
  --c2: #446c51;
  --c3: #c3dd2d;
  --c4: #d0d8a2;
}
div.design15 { 
    --s: 150px; /* control the size*/
    --_l:#0000 43.75%,var(--c1) 0 56.25%,#0000 0;
    background:
      conic-gradient(#0000 75%,var(--c1) 0) 
       calc(var(--s)/-8) calc(var(--s)/-8)/calc(var(--s)/2) calc(var(--s)/2),
      repeating-conic-gradient(var(--c2) 0 25%,#0000 0 50%) 
       calc(var(--s)/-4) calc(var(--s)/-4)/var(--s) var(--s),
      linear-gradient(-45deg,var(--_l))0 0/var(--s) var(--s),
      linear-gradient( 45deg,var(--_l))0 0/var(--s) var(--s) var(--c2);

}


.color16 {
  --text-c: #ffffff;
  --text-bg-c: 	#d600526e;
  --text-bg-d: #5f0f548f;
  --preloader-c1: #9cfd01;
  --preloader-c2: #b601fd;
  --preloader-c3: #00e1ff;
  --c1: #770ef8;
  --c2: #c89efc;
  --c3: #66b3f3;
  --c4: rgb(212, 68, 68);
}
div.design16 { 
    --s: 112px; /* control the size*/
    
    --g:from 45deg at 50% 35%,#0000 75%,;
    --_s:var(--s) calc(2*var(--s));
    background:
      conic-gradient(var(--g)var(--c2) 0) 
       calc(var(--s)/2) var(--s)/var(--_s),
      conic-gradient(var(--g)var(--c1) 0) 
       calc(var(--s)/2)        0/var(--_s),
      conic-gradient(#0004 135deg,#0000 0 225deg,#0009 0)
       0 0/var(--s) var(--s),
      linear-gradient(var(--c1) 50%,var(--c2) 0) 
       0 var(--s)/var(--_s);
  
}


.color17 {
  --text-c: #ffd000;
  --text-bg-c: 	#614923;
  --text-bg-d: #b29b8c;
  --preloader-c1: #ff6c6c;
  --preloader-c2: #fd9001;
  --preloader-c3: #2d8f96;
  --c1: #f9f2e7;
  --c2: #74712c;
  --c3: #798132;
  --c4: rgb(145, 209, 137);
}
div.design17 { 
    --s: 55px; /* control the size*/

    --b: calc(var(--s)/3.67); /* control the thickness of the curved lines */
    
    --_r: calc(1.28*var(--s) + var(--b)/2) at top 50%;
    --_f: calc(99.5% - var(--b)),var(--c1) calc(101% - var(--b)) 99.5%,#0000 101%;
    --_g0: calc(-.8*var(--s)), var(--c2) var(--_f);
    --_g1: calc(-.8*var(--s)), var(--c3) var(--_f);
    --_s: calc(1.8*var(--s) + var(--b));
    background: 
      radial-gradient(var(--_r) right var(--_g0)) calc(-1*var(--_s)) var(--s),
      radial-gradient(var(--_r) left  var(--_g1))         var(--_s)  calc(-1*var(--s)),
      radial-gradient(var(--_r) right var(--_g1)) calc(var(--_s)/-2) calc(-1*var(--s)),
      radial-gradient(var(--_r) left  var(--_g0)) calc(var(--_s)/ 2) var(--s),
      linear-gradient(90deg,var(--c2) 50%,var(--c3) 0);
    background-size: var(--_s) calc(4*var(--s));
  
}

.color18 {
  --text-c: #fff;
  --text-bg-c: 	#7a308fab;
  --text-bg-d: #a1109a83;
  --preloader-c1: #3ab0ff;
  --preloader-c2: #dd92f1;
  --preloader-c3: #d9ff00;
  --c1: #f5d4ff;
  --c2: #c44e9c;
  --c3: #9d67bd;
  --c4: rgb(145, 64, 141);
}
div.design18 { 
    --s: 6px; /* control the size*/   
    --g:#0000 66%,var(--c1) 68% 98%,#0000;
    background:
      radial-gradient(30% 30% at 0%   30%,var(--g))
       var(--s) calc(9*var(--s)),
      radial-gradient(30% 30% at 100% 30%,var(--g))
       var(--s) calc(-1*var(--s)),
      radial-gradient(30% 30% at 30% 100%,var(--g))
       calc(10*var(--s)) 0,
      radial-gradient(30% 30% at 30% 0%  ,var(--g))
       var(--c2);
    background-size: calc(20*var(--s)) calc(20*var(--s));
  
}

.color19 {
  --text-c: #ffa600;
  --text-bg-c: #771762de;
  --text-bg-d: #ce5a529c;
  --preloader-c1: #d8d50a;
  --preloader-c2: #ff1e00;
  --preloader-c3: #ff6600;
  --c1: #c7956d;
  --c2: #3b2833;
  --c3: #633f2b;
  --c4: rgb(221, 226, 149);
}
div.design19 { 
    --s: 20px; /* control the size*/ 
    --c:#0000 46.46%,var(--c1) 0 53.53%,#0000 0;
    --d:calc(10*var(--s)) calc(10*var(--s));
    --g:/var(--d) conic-gradient(at 40% 40%,#0000 75%,var(--c1) 0);
    background:
      conic-gradient(at 40% 40%,#0000 75%,var(--c2) 0) 
       calc(9*var(--s)) calc(9*var(--s))/
       calc(5*var(--s)) calc(5*var(--s)),
      calc(8*var(--s)) calc(8*var(--s)) var(--g),
      calc(3*var(--s)) calc(3*var(--s)) var(--g),
      linear-gradient( 45deg,var(--c)) 0 0/var(--d),
      linear-gradient(-45deg,var(--c)) 0 0/var(--d) var(--c2);
  
}


.color20 {
  --text-c: #043f81;
  --text-bg-c:	#0ec2da98;
  --text-bg-d: #09e29ab4;
  --preloader-c1: #fbff00;
  --preloader-c2: #f3ff83;
  --preloader-c3: #fd8feb;
  --c1: #f6edb3;
  --c2: #acc4a3;
  --c3: #55897c;
  --c4: #9ce4d2;
}
div.design20 { 
    --s: 264px; /* control the size*/
    --c1: #f6edb3;
    --c2: #acc4a3;
    --c3: #55897c;
    
    --_l:#0000 calc(25%/3),var(--c1) 0 25%,#0000 0;
    --_g:conic-gradient(from 120deg at 50% 87.5%,var(--c1) 120deg,#0000 0);
    background:
      var(--_g),var(--_g) 0 calc(var(--s)/2),
      conic-gradient(from 180deg at 75%,var(--c2) 60deg,#0000 0),
      conic-gradient(from 60deg at 75% 75%,var(--c1) 0 60deg,#0000 0),
      linear-gradient(150deg,var(--_l)) 0 calc(var(--s)/2),
      conic-gradient(at 25% 25%,#0000 50%,var(--c2) 0 240deg,var(--c1) 0 300deg,var(--c2) 0),
      linear-gradient(-150deg,var(--_l)) var(--c3);
    background-size: calc(0.866*var(--s)) var(--s);

  
  }

/* ================================ Semua Yg Dibawah Ini Adalah Preloader Animation =============================*/

#preloader-svg {
  width: 100vw;
  height: 100vh;
}
#preloader {
  /* Animation Parameter */
  --animation-duration: 2s;
  --animation-delay-divider: 10;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;

  div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }

  .cover {
    animation-fill-mode: both;
  }

  .cover1 {
    animation-delay: calc(
      var(--animation-duration) / var(--animation-delay-divider) * 0
    );
  }
  .cover2 {
    animation-delay: calc(
      var(--animation-duration) / var(--animation-delay-divider) * 1
    );
  }
  .cover3 {
    animation-delay: calc(
      var(--animation-duration) / var(--animation-delay-divider) * 2
    );
  }
  .cover4 {
    animation-delay: calc(
      var(--animation-duration) / var(--animation-delay-divider) * 3
    );
  }
  .cover5 {
    animation-delay: calc(
      var(--animation-duration) / var(--animation-delay-divider) * 4
    );
  }
}

#preloader.leave {
  .cover1 {
    animation-delay: calc(
      var(--animation-duration) / var(--animation-delay-divider) * 4
    );
  }
  .cover2 {
    animation-delay: calc(
      var(--animation-duration) / var(--animation-delay-divider) * 3
    );
  }
  .cover3 {
    animation-delay: calc(
      var(--animation-duration) / var(--animation-delay-divider) * 2
    );
  }
  .cover4 {
    animation-delay: calc(
      var(--animation-duration) / var(--animation-delay-divider) * 1
    );
  }
  .cover5 {
    animation-delay: calc(
      var(--animation-duration) / var(--animation-delay-divider) * 0
    );
  }
}

div.cover-container {
  --drop-shadow-setup: 1px 1px 24px rgba(0, 0, 0, 0.75);

  /*
  
  filter: drop-shadow( var( --drop-shadow-setup ) );
  -webkit-filter: drop-shadow( var( --drop-shadow-setup ) );
  -moz-filter: drop-shadow( var( --drop-shadow-setup ) );
  -ms-filter: drop-shadow( var( --drop-shadow-setup ) );
  -o-filter: drop-shadow( var( --drop-shadow-setup ) );
  */
}

/*======================== Animation CSS ========================*/
.chevron,
.circle,
.box,
.chevron-left,
.chevron2,
.chevron2-left {
  div.cover {
    mask-image: none;
  }
}

.box.enter {
  div.cover {
    animation: var(--animation-duration) box-enter;
  }
}
.box.leave {
  div.cover {
    animation: var(--animation-duration) box-leave;
  }
}
@keyframes box-enter {
  0% {
    clip-path: polygon(0% 0%, 0% 0%, 50% 00%, 50% 0%, 100% 0%, 100% 0%);
  }
  33% {
    clip-path: polygon(0% 0%, 0% 50%, 50% 50%, 50% 0%, 100% 0%, 100% 0%);
  }
  66% {
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 50%, 100% 50%, 100% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 0%);
  }
}
@keyframes box-leave {
  0% {
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 0%);
  }
  50% {
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0%, 100% 0%, 100% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, 0% 0%, 50% 00%, 50% 0%, 100% 0%, 100% 0%);
  }
}

.circle {
  --circle-max: 150%;
  --offset-x: 50%;
  --offset-y: 50%;
}
.circle > div.cover-container:nth-child(1) > div.cover {
  --offset-x: 0%;
  --offset-y: 0%;
}
.circle > div.cover-container:nth-child(2) > div.cover {
  --offset-x: 100%;
  --offset-y: 0%;
}
.circle > div.cover-container:nth-child(3) > div.cover {
  --offset-x: 100%;
  --offset-y: 100%;
}
.circle > div.cover-container:nth-child(4) > div.cover {
  --offset-x: 0%;
  --offset-y: 100%;
}
.circle > div.cover-container:nth-child(5) > div.cover {
  --circle-max: 100%;
}
.circle.enter {
  div.cover {
    animation: var(--animation-duration) circle-enter;
  }
}
.circle.leave {
  div.cover {
    animation: var(--animation-duration) circle-leave;
  }
}
@keyframes circle-enter {
  0% {
    clip-path: circle(0% at var(--offset-x) var(--offset-y));
  }
  100% {
    clip-path: circle(var(--circle-max) at var(--offset-x) var(--offset-y));
  }
}
@keyframes circle-leave {
  0% {
    clip-path: circle(var(--circle-max) at var(--offset-x) var(--offset-y));
  }
  100% {
    clip-path: circle(0% at var(--offset-x) var(--offset-y));
  }
}

/*======================== Animation GSAP =======================*/

/* All GSAP will not use clip-path */
.circle-gsap div.cover,
.vertical-gsap div.cover,
.horizontal-gsap div.cover,
.diagonal-left-gsap div.cover,
.diagonal-right-gsap div.cover {
  clip-path: none;
}

.circle-gsap > div.cover-container:nth-child(1) > div.cover {
  mask-image: url(#mask-circle-svg1);
}
.circle-gsap > div.cover-container:nth-child(2) > div.cover {
  mask-image: url(#mask-circle-svg2);
}
.circle-gsap > div.cover-container:nth-child(3) > div.cover {
  mask-image: url(#mask-circle-svg3);
}
.circle-gsap > div.cover-container:nth-child(4) > div.cover {
  mask-image: url(#mask-circle-svg4);
}
.circle-gsap > div.cover-container:nth-child(5) > div.cover {
  mask-image: url(#mask-circle-svg5);
}

.vertical-gsap > div.cover-container:nth-child(1) > div.cover {
  mask-image: url(#mask-vertical-svg1);
}
.vertical-gsap > div.cover-container:nth-child(2) > div.cover {
  mask-image: url(#mask-vertical-svg2);
}
.vertical-gsap > div.cover-container:nth-child(3) > div.cover {
  mask-image: url(#mask-vertical-svg3);
}
.vertical-gsap > div.cover-container:nth-child(4) > div.cover {
  mask-image: url(#mask-vertical-svg4);
}
.vertical-gsap > div.cover-container:nth-child(5) > div.cover {
  mask-image: url(#mask-vertical-svg5);
}

.horizontal-gsap > div.cover-container:nth-child(1) > div.cover {
  mask-image: url(#mask-horizontal-svg1);
}
.horizontal-gsap > div.cover-container:nth-child(2) > div.cover {
  mask-image: url(#mask-horizontal-svg2);
}
.horizontal-gsap > div.cover-container:nth-child(3) > div.cover {
  mask-image: url(#mask-horizontal-svg3);
}
.horizontal-gsap > div.cover-container:nth-child(4) > div.cover {
  mask-image: url(#mask-horizontal-svg4);
}
.horizontal-gsap > div.cover-container:nth-child(5) > div.cover {
  mask-image: url(#mask-horizontal-svg5);
}

.diagonal-left-gsap > div.cover-container:nth-child(1) > div.cover {
  mask-image: url(#mask-diagonal-left-svg1);
}
.diagonal-left-gsap > div.cover-container:nth-child(2) > div.cover {
  mask-image: url(#mask-diagonal-left-svg2);
}
.diagonal-left-gsap > div.cover-container:nth-child(3) > div.cover {
  mask-image: url(#mask-diagonal-left-svg3);
}
.diagonal-left-gsap > div.cover-container:nth-child(4) > div.cover {
  mask-image: url(#mask-diagonal-left-svg4);
}
.diagonal-left-gsap > div.cover-container:nth-child(5) > div.cover {
  mask-image: url(#mask-diagonal-left-svg5);
}

.diagonal-right-gsap > div.cover-container:nth-child(1) > div.cover {
  mask-image: url(#mask-diagonal-right-svg1);
}
.diagonal-right-gsap > div.cover-container:nth-child(2) > div.cover {
  mask-image: url(#mask-diagonal-right-svg2);
}
.diagonal-right-gsap > div.cover-container:nth-child(3) > div.cover {
  mask-image: url(#mask-diagonal-right-svg3);
}
.diagonal-right-gsap > div.cover-container:nth-child(4) > div.cover {
  mask-image: url(#mask-diagonal-right-svg4);
}
.diagonal-right-gsap > div.cover-container:nth-child(5) > div.cover {
  mask-image: url(#mask-diagonal-right-svg5);
}

.chevron.enter {
  div.cover {
    animation: var(--animation-duration) chevron-enter;
  }
}
.chevron.leave {
  div.cover {
    animation: var(--animation-duration) chevron-leave;
  }
}
@keyframes chevron-enter {
  0% {
    clip-path: polygon(-25% 0%, 0% 50%, -25% 100%, 0% 100%, 0% 50%, 0% 0%);
  }
  100% {
    clip-path: polygon(100% 0%, 125% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
  }
}

@keyframes chevron-leave {
  0% {
    clip-path: polygon(
      -25% 100%,
      0% 50%,
      -25% 0%,
      100% 0%,
      100% 50%,
      100% 100%
    );
  }
  100% {
    clip-path: polygon(
      100% 100%,
      125% 50%,
      100% 0%,
      100% 0%,
      100% 50%,
      100% 100%
    );
  }
}

.chevron-left.enter {
  div.cover {
    animation: var(--animation-duration) chevron-left-enter;
  }
}
.chevron-left.leave {
  div.cover {
    animation: var(--animation-duration) chevron-left-leave;
  }
}
@keyframes chevron-left-enter {
  0% {
    clip-path: polygon(
      125% 0%,
      100% 50%,
      125% 100%,
      100% 100%,
      100% 50%,
      100% 0%
    );
  }
  100% {
    clip-path: polygon(0% 0%, -25% 50%, 0% 100%, 100% 100%, 100% 50%, 100% 0%);
  }
}
@keyframes chevron-left-leave {
  0% {
    clip-path: polygon(0% 100%, 0% 50%, 0% 0%, 125% 0%, 100% 50%, 125% 100%);
  }
  100% {
    clip-path: polygon(0% 100%, 0% 50%, 0% 0%, 0% 0%, -25% 50%, 0% 100%);
  }
}

.chevron2.enter {
  div.cover {
    animation: var(--animation-duration) chevron2-enter;
  }
}
.chevron2.leave {
  div.cover {
    animation: var(--animation-duration) chevron2-leave;
  }
}
@keyframes chevron2-enter {
  0% {
    clip-path: polygon(
      -25% 0%,
      0% 50%,
      -25% 100%,
      -100% 100%,
      -75% 50%,
      -100% 0%
    );
  }
  50% {
    clip-path: polygon(75% 0%, 95% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
  100% {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
  }
}
@keyframes chevron2-leave {
  0% {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
  }
  50% {
    clip-path: polygon(75% 0%, 95% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
  100% {
    clip-path: polygon(
      175% 0%,
      200% 50%,
      175% 100%,
      100% 100%,
      125% 50%,
      100% 0%
    );
  }
}

.chevron2-left.enter {
  div.cover {
    animation: var(--animation-duration) chevron2-left-enter;
  }
}
.chevron2-left.leave {
  div.cover {
    animation: var(--animation-duration) chevron2-left-leave;
  }
}
@keyframes chevron2-left-enter {
  0% {
    clip-path: polygon(
      200% 0%,
      175% 50%,
      200% 100%,
      125% 100%,
      100% 50%,
      125% 0%
    );
  }
  50% {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 5% 50%, 25% 0%);
  }
  100% {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
  }
}
@keyframes chevron2-left-leave {
  0% {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
  }
  50% {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 5% 50%, 25% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, -25% 50%, 0% 100%, -75% 100%, -90% 50%, -75% 0%);
  }
}

/*======================== Control CSS ========================*/
#control {
  z-index: 1000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  top: 0px;
  left: 0px;
  div.button-container {
    padding-top: 10px;
    button {
      width: 100px;
      padding: 10px;
    }
  }
}

/*======================== Content CSS ========================*/
#container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 1.5em;
    font-family: "Courier";
    width: 50vw;
    padding: 50px;
  }
}
#new-content {
  display: none;
}
